<!DOCTYPE html>
<html style="-webkit-overflow-scrolling: touch;">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport">
    <script src="https://cdn.bootcss.com/lodash.js/4.17.3/lodash.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
