
<div>单层职业excel</div>
<form action="/analyse/profession1" enctype="multipart/form-data" method="POST">
    <div>
        <input type="file" name='file'>
    </div>
    <div>
        <button type="submit">上传</button>
    </div>
</form>

<div>两层职业excel</div>
<form action="/analyse/profession2" enctype="multipart/form-data" method="POST">
    <div>
        <input type="file" name='file'>
    </div>
    <div>
        <button  type="submit">上传</button>
    </div>
</form>