<form action="/analyse/profession2" enctype="multipart/form-data" method="POST">
    <div>
        <input type="file" name='file'>
    </div>
    <div>
        <button  type="submit">上传</button>
    </div>
</form>